
.DS_Store
clave.txt
Valorización Data Driven/dataset_tasacion_train_vf.xlsx
Valorización Data Driven/Diccionario de campos.xlsx
Valorización Data Driven/Ejemplo de campos de dataset - Reto Valorización Data Driven.xlsx
